.espaco {
  text-align: center;
  padding: 4vw;
}
.espacoTitulo {
  font-size: 3em;
  font-weight: bold;
  color: #D76A03;
}
.espacoAutor{
  font-size: 0.5em;
  font-weight: normal;
}

.espacoP {
  font-size: 1.4em;
  font-weight: normal;
  color: rgb(58, 58, 58);
}

.espacoUL {
  position: relative;
  display: flex;
  gap: 30px;
  align-items: center;
}

.espacoLI {
  list-style: none;
}

.trabalho {
 width: 40vw; 
  height: auto;
  border-radius: 25%;
}


@media(max-width: 800px)
{
  .espacoUL {
    display: block;  
  }
  .trabalho {
    width: 80%; 
    height: auto;
  }

  .espacoTitulo {
    font-size: 2.5em;
  }
  .espacoAutor{
    font-size: 0.5em;   
  }
  
  .espacoP {
    font-size: 1.3em;
  }
}

@media(max-width: 400px)
{
 
  .espacoTitulo {
    font-size: 2em;
  }
  .espacoAutor{
    font-size: 0.5em;   
  }
  
  .espacoP {
    font-size: 1.2em;
  }
}