.faleConosco {
  text-align: center;
  position: relative;
  top: -5vh;
}

.faleConoscoTitulo {
  font-size: 3.5em;
  font-weight: bold;
}

.faleConoscoTituloSpan {
  color: #D76A03;
}

.faleConoscoAccordion {
  position: relative;
  top: -5vh;
}