.faleConosco {
  text-align: center;

}

.faleConoscoTitulo {
  font-size: 3em;
  font-weight: bold;
}

.faleConoscoTituloSpan {
  color: #D76A03;
}



@media(max-width: 800px) {
  .faleConoscoTitulo {
    font-size: 2.5em;
  }
}

@media(max-width: 400px) {
  .faleConoscoTitulo {
    font-size: 2em;
  }
}
