.Rodape {
  display: flex;
  height: 30vh;
  background: #D76A03;
  background-color: #D76A03; /* For browsers that do not support gradients */
  background-image: linear-gradient(135deg, #BF3100 , #D76A03,#D76A03,#D76A03,#BF3100);
  color:white
}

.logoImg {
  position: relative;
  left: 0;
  margin: auto;
  width: auto;
  height: 25vh;
}


.Contato {
  text-align: center;
  margin: auto auto auto 1px;
}
.ContatoTitulo {
  font-size: 2em;
}
.ContatoElen {
  font-size: 1.5em;
  text-align: left;
}
.ContatoElenIcon {
  font-size: 1.1em;
  position: relative;
  bottom: -4px;
  margin-right: 1vw;

}

.RodapeDivTexto{
  width: 25%;
  border-right: solid black 1px;
  height: 100px;
  margin: auto;
  text-align: center;
  padding: 2vw;
}
.RodapeTexto{
 padding: auto;
}

.RodapeHr{
  display: none;
}


@media(max-width: 900px)
{
  .RodapeDivTexto
  {
    display: none;
  }
  .logoImg {
    height: 20vh;
  }
  .ContatoElen{
    width: 100%;
    margin-left: 15%;
  } 
}

@media(max-width: 700px)
{
  .Rodape{
    display: block;   
    padding: 1vh;
 
  }
  .RodapeDivTexto
  {    
    display: none;
  }

  .logoImg {   
    width: 50%;
    height: auto;
    margin-left: 25%;
  }
  .Contato{
    margin-top: 2vh;
  }
  .ContatoElen{
    width: 70%;
    margin-left: 25%;
  } 
  .RodapeHr{
    display: block;
    width: 70%;
    border: solid black 1px;

  }
}