.acordionPergunta { 
  margin-left: 5vw;
  margin-right: 5vw;
  color: #D76A03;
}
.acordionTitle{
  margin-bottom: 0px;
}
.acordionResposta { 
  margin-left: 5vw;
  margin-right: 5vw;

  text-align: justify;
  color: rgb(58, 58, 58);
}

.acordionHR{
  width: 90%;
  border: 1px solid rgba(210, 210, 210, 1); 
}



