.acordionTitle {
  font-size: 2em; 
  text-align: left;
  margin-left: 5vw;
}

.acordionResposta {
  font-size: 1.5em; 
  margin-left: 5vw;
  margin-right: 5vw;
  text-align: justify;

}

.acordionPergunta{
  margin: 1vh;
}

.acordionHR{
  width: 90%;
  border: 1px solid rgba(128, 128, 128, 0.3);
 
}

