.funcionalidadesTitulo {
  text-align: center;
  font-size: 2em;

}

.funcionalidadesUl {
  text-align: center;

}

.funcionalidadesLI {
  list-style: none;

}

.card {
  padding: 1vw;
  width: 46%;
  display: inline-block;
}


@media(max-width: 800px)
{
  .card {
    display: block; 
    width: 99%; 
  }
  /*
  .funcionalidadesLI {
    width: 100%;
  }*/
}

.number{ 
  font-size: 70px;
  margin-right: 5%;
}
.span{
 position: relative;
 top:-25px

}

.p1{
  text-align: left;
  background: red;
  font-size: 1.8em;
  font-weight: bold;


}

.p2{
  font-size: 1.1em;
  margin-left: 10%;
  
  text-align: justify;

}
