.funcionalidades{
  align-items: center;
  text-align: justify;
  width: 90%;
}

.funcionalidadesTituloSpan {
  color: #D76A03;

}


.funcionalidadesUl {  
  padding-left: 4vw;
  padding-right: 5vw;
}

.funcionalidadesLI {
  list-style: none;
}

.card {  
  padding: 1vw;
  width: 46%;
  display: inline-block;
}

.number{ 
  font-size: 50px;
  margin-right: 5%;
  margin-left: 2vw;
  color: #D76A03;
}
.span{
 position: relative;
 top:-20px
}

.FuncionalideLiTitulo{  
  text-align: left;
  font-size: 2em;
  font-weight: bold;

}

.FuncionalideLiDesc{
    font-size: 1.4em;
    margin-left: 6vw;  
    text-align: justify;
}



@media(max-width: 800px)
{
  .card {
    display: block; 
    width: 99%; 
  
  }

  .FuncionalideLiTitulo{  
    font-size: 1.7em;
  }  
  .FuncionalideLiDesc{
      font-size: 1.3em; 
  }
  

}

@media(max-width: 400px)
{
  .card {
    display: block; 
    width: 99%;   
  }
  

  .FuncionalideLiTitulo{  
    font-size: 1.4em;
  }  
  .FuncionalideLiDesc{
      font-size: 1.2em; 
  }  

}

