.clienteContainer {
  text-align: center;
  width: 100%;
}

.clienteTitulo {
  font-size: 3em;
  font-weight: bold;
}

.clienteTituloSpan {
  color: #D76A03;
}

.clienteTexto {
  font-size: 1.4em;
  color: rgb(58, 58, 58);
  margin-left: 3vw;
  margin-right: 3vw;
  width: 90%;
}

.clienteList {
  overflow-x: scroll;
  max-width: 100%;

}

.clienteListScroll {
  width: calc(37vw * 12);
}

.clienteListLogo {
  height: auto;
  width: 40vw;
  margin: 1vw;

}


@media(max-width: 800px) {
  .clienteTitulo {
    font-size: 2.5em;
  }
  .clienteTexto {
    font-size: 1.3em;  
  }
}

@media(max-width: 400px) {
  .clienteTitulo {
    font-size: 2em;
  }
  .clienteTexto {
    font-size: 1.2em;  
  }
}



