.clienteContainer {
  text-align: center;
  width: 100%;
}

.clienteTitulo {
  font-size: 3.5em;
  font-weight: bold;
}

.clienteTituloSpan {
  color: #D76A03;
}

.clienteTexto {
  font-size: 1.2em;
  color: rgb(58, 58, 58);
  margin-left: 3vw;
  margin-right: 3vw;
}

.clienteList {
  overflow-x: scroll;
  max-width: 100%;

}

.clienteListScroll {
  width: calc(37vw * 12);
}

.clienteListLogo {
  width: 35vw;
  margin: 1vw;
  height: auto;
}