html,
body {
  padding: 0;
  margin: 0;     
}

html,
body {
  font-family: Goldman;      
}
textarea,input{
  font-family: Goldman;    
}



a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

H1,H2 {
  font-size: 3em;
  font-weight: 600;
  margin: auto;
  text-align: center;
}
p {
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;

}

p.destaque {
  font-size: 1.6em;
  font-weight: 400;
  text-align: center;
}
p.destaque.left {
  font-size: 1.6em;
  font-weight: 400;
  text-align: left;
  
}

.backgroundAppBar{
  background: white;
}
.textoClaro{
  color: rgb(58, 58, 58);
}
.textoEscuro{
  color: rgb(37, 37, 37);
}

section{
  margin: auto;
  margin-bottom: 10vh;
}
.noWrap{
  white-space: nowrap;
}

.SwiperCliente .swiper-slide-active{
  filter: blur(0px) !important;
  background: white !important;  
  border: solid #d769037b 1px !important; 
}

.ancora{
  position: relative;
  top: -13vh;
  visibility: hidden;
  display: block
}


@media(max-width: 800px) {
  H1,  H2 {
    font-size: 2.3em;
  }
  p {
    font-size: 1.3em;
  }
  p.destaque {
    font-size: 1.5em;
  }
}


@media(max-width: 400px) {
  H1,  H2 {
    font-size: 1.8em;
  }
  p {
    font-size: 1.2em;
  }
  p.destaque {
    font-size: 1.4em;
  }
 
}

@media(prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }  

  .backgroundAppBar{
    background: black;
  }
  .textoClaro{
    color: white;
  }
  .textoEscuro{
    color: white;
  }

}



